.sidenav {
	height: 100%;
	width: 250px; /* Set the width of the sidebar */
	position: absolute; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 50; /* Stay at the top */
	left: 0;
	background-color: #FEF5F5; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 50px;
}

.sidenav a {
	padding: 20px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #A44711;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}